<div class="bgimg-1">
  <div class="container">
    <div class="row h-100">
      <div class="offset-md-4 col-md-4 my-auto">
        <div class="card card-inverse gray-card">
          <div class="card-block">
            <h3 class="text-center">Register as</h3>

            <fieldset class="form-group" style="text-align:center;">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [checked]="user.courier" (change)="user.courier = !user.courier">
                  Courier
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [checked]="user.customer" (change)="user.customer = !user.customer">
                  Client
                </label>
              </div>
            </fieldset>

            <div class="form-group">
              <input type="text" id="email" class="form-control input-sm" placeholder="Email" required
                     name="email"
                     [(ngModel)]="user.email"/>
            </div>
            <div class="form-group">
              <input type="text" id="username" class="form-control input-sm" placeholder="Username" required
                     name="username"
                     [(ngModel)]="user.username"/>
            </div>
            <div class="form-group">
              <input type="text" id="fullname" class="form-control input-sm" placeholder="Full Name" required
                     name="fullname"
                     [(ngModel)]="user.fullname"/>
            </div>
            <div class="form-group">
              <input type="text" id="password" class="form-control input-sm" placeholder="Password" required
                     name="password"
                     [(ngModel)]="user.password"/>
            </div>
            <div class="form-group">
              <input type="text" id="repeat-password" class="form-control input-sm" placeholder="Repeat password"
                     required name="repeat-password"/>
            </div>

            <div class="form-check" style="text-align:center;">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                I agree to the <a href="terms">Terms & Conditions</a>.
              </label>
            </div>

            <div class="wrapper">
            <span class="group-btn">
               <button class="btn btn-primary btn-lg btn-block" (click)="register()">Sign up</button>
            </span>
            </div>
            <div class="divider-form"></div>
            <p class="message text-center">Already have an account? <a href="signin">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
