<div class="container marketing">
  <br>
  <h3>Hello, {{user.username}}!</h3>
</div>

<div class="container marketing text-center">
  <br>
  <div class="dashboard-container">
    <div *ngIf="isCourier()" class="dashboard-item col-lg-3">
      <img class="rounded-circle"
           src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           alt="Generic placeholder image" width="140" height="140">
      <h2>Courier</h2>
      <p><a class="btn btn-primary" href="/dashboard/courier" role="button">Open dashboard</a></p>
    </div>
    <div *ngIf="isCustomer()" class="dashboard-item col-lg-3">
      <img class="rounded-circle"
           src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           alt="Generic placeholder image" width="140" height="140">
      <h2>Client</h2>
      <p><a class="btn btn-primary" href="/dashboard/client" role="button">Open dashboard</a></p>
    </div>
    <div *ngIf="isAdmin()" class="dashboard-item col-lg-3">
      <img class="rounded-circle"
           src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           alt="Generic placeholder image" width="140" height="140">
      <h2>Admin</h2>
      <p><a class="btn btn-warning" href="/dashboard/admin" role="button">Open dashboard</a></p>
    </div>
  </div>

</div>

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Not registered as a courier? <span class="text-muted">Register now!</span>
      </h2>
      <p class="lead">DIBER couriers are recruited from within the areas that they live, which means that their local
        knowledge is second to none.</p>
      <p class="lead">For example if your customer/recipient isn't at home but works around the corner,
        our couriers will usually be only too happy to make a detour to ensure the customer receives
        their parcel as soon as possible.</p>
      <p class="lead">
        We provide a full delivery cycle of goods, documents and all this stuff. DIBER offers a door to door
        collection and delivery service through more than 100 local couriers, offering simple,
        convenient and affordable parcel delivery.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/main-page/main-1.png"
           alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">Not registered as a client? <span class="text-muted">Register now!</span></h2>
      <p class="lead">Whether you’re shopping online or in store, you can afford to have
        someone else do the heavy lifting and deliver your purchases to your home or office. </p>
      <p class="lead">No matter the size or number of items in your order, you can now get it
        all delivered starting at $1! Because sometimes your ideas are bigger than your car.</p>
      <p class="lead">
        Your shop can have an automatic delivery of goods ordered by your customers in the store.
      </p>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/main-page/main-2.png"
           alt="Generic placeholder image">
    </div>
  </div>
  <br>
</div>
