<div class="pagination justify-content-center" *ngIf="count > 0">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ 'disabled': page === 1 || loading }">
      <a class="page-link" (click)="onPrev()">Previous</a>
    </li>
    <li class="page-item page-num" *ngFor="let pageNum of getPages()"
        [ngClass]="{'active': pageNum === page, 'disabled': loading}">
      <a class="page-link" (click)="onPage(pageNum)">{{ pageNum }}</a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': lastPage() || loading }">
      <a class="page-link" (click)="onNext(true)">Next</a>
    </li>
  </ul>
</div>

<div class="page-info text-center" *ngIf="count > 0">
  <p>{{ getMin() }} - {{ getMax() }} of {{ count }} ({{ totalPages() }} pages)</p>
</div>
