<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Status</th>
    <th>Date</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.status}}</td>
    <td>{{order.date}}</td>
    <td>{{order.price}}</td>
    <td>
      <button class="btn btn-warning">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
<app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="3"
  [page]="page"
  [perPage]="limit"
  [count]="total"></app-pagination>
