<form class="loginForm">
  <div class="container center-block">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h1>Please,log in</h1>

          <input type="text" id="LoginUserName" class="form-control input-sm chat-input" placeholder="username"
                 required
                 name="login"
                 [(ngModel)]="username"/>
          <br>
          <input type="password" id="LoginUserPassword" class="form-control input-sm chat-input" placeholder="password"
                 name="pass"
                 id="passwordField"
                 [(ngModel)]="password"/>
          <br>
          <div class="wrapper">
            <span class="group-btn">
               <button class="btn btn-primary btn-md" (click)="login()">Log in</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
