.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("http://www.brockmetal.com/wp-content/uploads/2014/01/parallax-section-background-03.jpg");
  min-height: 93%;
}

.bgimg-2 {
  background-image: url("http://www.brockmetal.com/wp-content/uploads/2014/01/parallax-section-background-04.jpg");
  min-height: 50%;
}

.bgimg-3 {
  background-image: url("http://file.mrbool.com/mrbool/articles/RicardoArrigoni/Parallax/Parallax1.jpg");
  min-height: 50%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
