<div class="bgimg-1">
  <div class="caption">
    <span class="border">DELIVERY SERVICE</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">DIBER</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
    content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
    as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="header">FOR COURIER</span>
  </div>
</div>

<div style="position:relative;">
  <div class="text-block">
    <p>Some additional information for courier. It will be available soon.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="header">FOR CUSTOMER</span>
  </div>
</div>

<div style="position:relative;">
  <div class="text-block">
    <p>Some additional information for customer. It will be available soon.</p>
  </div>
</div>
