<div *ngIf="!loading" id="order-detail">

  <div class="row">
    <div class="col-md-6">
      <h3>Order #{{order.id}}</h3>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-info">Info</button>
      <button *ngIf="!orderIsInProgress()" type="button" class="btn btn-warning" (click)="editOrderClick();">Edit</button>
      <!--<button type="button" class="btn btn-primary">Close</button>-->
      <button *ngIf="orderIsDelivered()" type="button" class="btn btn-success" (click)="acceptOrderClick();">Accept</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h6 class="text-muted">{{ order.description }}</h6>
    </div>
    <div class="col-md-3">
      Status:
      {{ order.status }}
    </div>
    <div class="col-md-3">
      Price:
      {{ order.price }}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <h6 class="text-muted">From:</h6>
      {{ order.addressFrom.address }}, {{ order.addressFrom.city }}, {{ order.addressFrom.country }}, {{ order.addressFrom.postalCode }}
      <h6 class="text-muted" style="margin-top: 10px;" >To:</h6>
      {{ order.addressTo.address }}, {{ order.addressTo.city }}, {{ order.addressTo.country }}, {{ order.addressTo.postalCode }}
    </div>
    <div *ngIf="order.courier != null" class="col-md-6">
      <h6 class="text-muted">Your courier:</h6>
      {{ order.courier.fullname }} (#{{ order.courier.id }})
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <h5>Directions</h5>
      <iframe
        width="100%"
        height="300"
        frameborder="0" style="border:0"
        [src]="addressURL()" allowfullscreen>
      </iframe>
    </div>
    <div *ngIf="orderIsInProgress()" class="col-md-6">
      <h5>Current position</h5>
      <iframe
        width="100%"
        height="300"
        frameborder="0" style="border:0"
        [src]="currentLocationURL()" allowfullscreen>
      </iframe>
    </div>
    <div *ngIf="orderHasRequests()" class="col-md-6">
      <h5>Requests</h5>

    </div>
  </div>

</div>

<div *ngIf="loading">
    <app-loading-indicator [loading]="loading"></app-loading-indicator>
</div>
