body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* Add padding for support fixed-top navbar */
body {
  padding-top: 60px;
}

/*
@media (min-width: 980px) {
  body {
    padding-top: 70px;
  }
}
*/
