<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3">
        <h6 class="text-uppercase text-gray-dark">DIBER</h6>
        <ul class="list-unstyled">
          <li><a href="#" target="ext">What's New</a></li>
          <li><a href="#" target="ext">Examples</a></li>
          <li><a href="#" target="ext">Official</a></li>
          <li><a href="#" target="ext">Playground</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 column">
        <h6 class="text-uppercase text-gray-dark">About</h6>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 column">
        <h6 class="text-uppercase text-gray-dark">Stay Posted</h6>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for
              updates
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-3 text-right">
        <h6 class="text-uppercasey text-gray-dark">Follow</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i
            class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
          <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i
            class="icon-lg ion-social-facebook-outline"></i></a></li>
        </ul>
      </div>
    </div>
    <br>
    <span class="float-right text-muted small">© 2017 Diber</span>
  </div>
</footer>

<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
